<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ym.content.dao.IMidUserShareDao" >
	<resultMap id="midUserShareResultMap" type="com.ym.content.domain.dto.MidUserShareDTO">
		<result column="ID" property="id" /> 
		<result column="SHARE_ID" property="shareId" /> 
		<result column="USER_ID" property="userId" /> 
	</resultMap>
	<sql id="baseSql">
		<![CDATA[
			SELECT ID,SHARE_ID,USER_ID FROM mid_user_share
		]]>
	</sql>
	
	<select id="selectTList" parameterType="com.ym.content.commons.page.Pager" resultMap="midUserShareResultMap">
		<include refid="baseSql"/>	
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			<if test="params != null and params.shareId != null and params.shareId != ''" >
				and SHARE_ID = #{params.shareId}
			</if>
			<if test="params != null and params.userId != null and params.userId != ''" >
				and USER_ID = #{params.userId}
			</if>
		</trim>
			<if test="orderField != null and orderField != ''" >
		      order by ${orderField}
		    </if>
		    <if test="orderField == null or orderField == ''" >
		      order by id
		    </if>
			<if test="orderDirection != null and orderDirection != ''" >
		      ${orderDirection}
		    </if>
			<if test="orderDirection == null or orderDirection == ''" >
		      desc
		    </if>
		    <if test="limitStart >= 0" >
		      limit #{limitStart} , #{pageSize}
		    </if>
	</select>
	<select id="selectTListCount" parameterType="com.ym.content.commons.page.Pager" resultType="java.lang.Integer">
		select count(1) from mid_user_share 
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			<if test="params != null and params.shareId != null and params.shareId != ''" >
				and SHARE_ID = #{params.shareId}
			</if>
			<if test="params != null and params.userId != null and params.userId != ''" >
				and USER_ID = #{params.userId}
			</if>
		</trim>
	</select>
	<select id="selectAll" resultMap="midUserShareResultMap">
		<include refid="baseSql"/>
	</select>	
	<select id="selectById" parameterType="java.lang.Integer" resultMap="midUserShareResultMap">
		<include refid="baseSql"/>	
		<![CDATA[ WHERE ID=#{id}]]>
	</select>
	<select id="selectByUUID" parameterType="java.lang.String" resultMap="midUserShareResultMap">
		<include refid="baseSql"/>	
		<![CDATA[ WHERE UUID=#{uuid}]]>
	</select>
	
	<insert id="insert" parameterType="com.ym.content.domain.MidUserShare" useGeneratedKeys="true" keyProperty="id">
		insert into mid_user_share
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="shareId != null" >
				SHARE_ID,
			</if>
			<if test="userId != null" >
				USER_ID,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="shareId != null" >
				#{shareId},
			</if>
			<if test="userId != null" >
				#{userId},
			</if>
		</trim>
	</insert>
	
	<update id="updateObj" parameterType="com.ym.content.domain.MidUserShare">
		update mid_user_share
		<set>
			<if test="shareId != null" >
				SHARE_ID = #{shareId},
			</if>
			<if test="userId != null" >
				USER_ID = #{userId},
			</if>
		</set>
		where ID = #{id}
	</update>	
	<delete id="deleteById" parameterType="java.lang.Integer">
		<![CDATA[
			DELETE FROM mid_user_share
			WHERE ID=#{id}
		]]>
	</delete>	
	
	<!-- ex block-->
	<!-- -->
</mapper>